//- main.main
//-     div.main-background__line
//-         h2.about__city Про Місто Сонця
//-         div.info__city--back
//-             div.info__city
//-                 ul.info__list
//-                     li.info__item.info__item1
//-                         div.info__item-bg
//-                             img.info__icon(src="./img/infoicon1.png" alt="icon")
//-                         h3.info__title Що таке Гуманна педагогіка?
//-                     li.info__item.info__item2
//-                         div.info__item-bg
//-                             img.info__icon(src="./img/infoicon2.png" alt="icon")
//-                         h3.info__title Наша історія
//-                     li.info__item.info__item3
//-                         div.info__item-bg
//-                             img.info__icon(src="./img/infoicon3.png" alt="icon")
//-                         h3.info__title Документи
//-                     li.info__item.info__item4
//-                         div.info__item-bg
//-                             img.info__icon(src="./img/infoicon4.png" alt="icon")
//-                         h3.info__title Для батьків
//-     div.main-background__line2
//-         a.main-text-title.info__registration-button(href="https://2gis.ua/odessa/firm/70000001044140556?m=30.740582%2C46.415018%2F17&utm_source=details&utm_medium=widget&utm_campaign=firmsonmap" target="_blank") Завітайте у гості !
//-         p.main-text м. Одеса, вул. Лядова 12  #[span.text-none (кут Кітобійний)]
//-     div.groups
//-         div.shine
//-             .shine__background
//-             div.sun
//-                 h3.groups-text Групи
//-             div.cloud.cloud1
//-                 p.cloud-title ясла 
//-                 p.cloud-text 2-3 рочки (до 12 осіб)
//-             div.cloud.cloud2
//-                 p.cloud-title молодша
//-                 p.cloud-text 3-4 роки (до 14 осіб)
//-             div.cloud.cloud3
//-                 p.cloud-title середня 
//-                 p.cloud-text 4-5 років (до 14 осіб)
//-             div.cloud.cloud4
//-                 p.cloud-title старша 
//-                 p.cloud-text 5-6 років (до 16 осіб)
//-     div.info
//-         div.info__child
//-             div.info__child--back
//-                 ul.info__child-list
//-                     li.info__child-item.child-item1
//-                         div.info__child-bg
//-                             img.info__child-icon(src="./img/btn1.jpg" alt="облако")
//-                         h3.info__title-child Як ми пізнаємо світ?
//-                     li.info__child-item.child-item2
//-                         div.info__child-bg
//-                             img.info__child-icon(src="./img/btn2.jpg" alt="облако")
//-                         h3.info__title-child Як ми проводимо свій день?
//-                     li.info__child-item.child-item3
//-                         div.info__child-bg
//-                             img.info__child-icon(src="./img/btn3.jpg" alt="облако")
//-                         h3.info__title-child Що ми їмо?
//-                     li.info__child-item.child-item4
//-                         div.info__child-bg
//-                             img.info__child-icon(src="./img/btn4.jpg" alt="облако")
//-                         h3.info__title-child Наші ігри
//-         div.info__registration
//-             a.info__registration-button.info__registration-text(href="https://forms.gle/QYqy9Kn5eovuBBUn8" target="_blank") Анкета-знайомство, завповнить –будь ласка. Після цього ми обов’язково Вам зателефонуєм та запросимо до себе у гості.
//-             h2.info__recall.modal-btn_comments Відгуки
//-             div.info__social
//-                 a(href="https://invite.viber.com/?g2=AQAGZH5ju6hcoEkWDqceUYueTaiazZcnIYKPYzNIdQ96CYPBLs%2BnoZajJTdRGGhQ" target="_blank")
//-                     img.social(src="./img/viber.png" alt="")
//-                 a(href="https://www.instagram.com/gorodsolntsa_odessa/" target="_blank")
//-                     img.social(src="./img/instagram.png" alt="")
//-                 a(href="https://www.facebook.com/%D0%93%D0%BE%D1%80%D0%BE%D0%B4-%D0%A1%D0%BE%D0%BB%D0%BD%D1%86%D0%B0-671945236591335/" target="_black")
//-                     img.social(src="./img/facebook.png" alt="")
//-             h2.info__social--title Запрошуємо Вас до наших соціальних мереж

