aside 
    .sidebar-header
        include svg/main-logo.pug
        h2.sidebar-header__title Dashboard 
        span.sidebar-header__version v.01
    ul.sidebar-nav
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-1.pug
                span.sidebar-nav__text Dashboard
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-2.pug
                span.sidebar-nav__text Product 
                include svg/nav-arrow.pug
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-3.pug
                span.sidebar-nav__text Customers
                include svg/nav-arrow.pug
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-4.pug
                span.sidebar-nav__text Income
                include svg/nav-arrow.pug
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-5.pug
                span.sidebar-nav__text Promote
                include svg/nav-arrow.pug
        li.sidebar-nav__item 
            button.sidebar-nav__btn 
                include svg/icon-6.pug
                span.sidebar-nav__text Help
                include svg/nav-arrow.pug
    .sidebar-user
        img.sidebar-user__photo(src="img/user-photo.png" alt="user photo")
        .sidebar-user__wrapper 
            p.sidebar-user__name Evano
            p.sidebar-user__job Project Manager